.button {
  position: relative;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: var(--text-color);
  background: var(--background-color);
  border-radius: var(--br);
  font-size: var(--fs-xs);
  font-weight: 800;
  outline-offset: 8px;
}

.button::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;

  border-radius: inherit;
  background: linear-gradient(
    to right,
    var(--grad-blue),
    var(--grad-violet),
    var(--grad-blue)
  );
  background-size: 200%;
  transition: background-position var(--duration-long) ease;
}

.button:hover::before {
  background-position: -200% center;
}
