.project {
  margin: 1rem 0 2.5rem 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.imgContainer {
  width: 100%;
  position: relative;
}

.imgContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  background: linear-gradient(transparent, var(--blue1), transparent);
  height: 180px;
  width: 2px;
  transition: top var(--projects-link-duration) ease,
    opacity var(--projects-link-duration) ease;
}

.span {
  position: relative;
  background: linear-gradient(
    to right,
    var(--blue2),
    var(--blue1),
    var(--blue0),
    var(--blue2)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position var(--projects-link-duration) ease;
}

.span a {
  text-decoration: none;
  font-weight: 600;
}

.span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--blue2),
    var(--blue1),
    var(--blue0),
    var(--blue2)
  );
  background-size: 200%;
  transition: background-position var(--projects-link-duration) ease;
}

.project:hover > .imgContainer::after {
  top: 0;
  opacity: 1;
}

.project:hover > .span {
  background-position: -200% center;
}

.project:hover > .span::after {
  background-position: -200% center;
}

.img {
  object-fit: contain;
  /* aspect-ratio: auto 1496 / 853; */
  width: 100%;
  height: 100%;
}

/* .imgCaption {
} */

.projectTitle {
  margin: 1rem 0 0 0;
}

.brand {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.description {
  margin: 0;
  margin: 0 0 0.5rem 0;
}

@media screen and (max-width: 860px) {
  .project {
    margin: 1rem 0 2rem 0;
    width: 100%;
    max-width: 100%;
  }
}
