.header {
  position: relative;
  background: var(--blueA2);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.header2 {
  position: relative;
  background-color: var(--grad-blue);
  background-image: linear-gradient(
    19deg,
    var(--grad-blue) 0%,
    var(--grad-violet) 100%
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.title {
  color: black;
}

.title a {
  text-decoration: none;
  border-radius: var(--br);
  padding: 0 1rem 0.5rem 1rem;
  background-color: var(--grad-blue);
  background-image: linear-gradient(
    to right,
    var(--grad-blue),
    var(--grad-violet),
    var(--grad-blue)
  );
  background-size: 300%;
  background-position: 0% center;
  color: white;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: white;
  /* font-size: var(--fs-l); */
  transition: background-position var(--duration-short) ease;
}

.title a:hover {
  background-position: -100% center;
}

.span {
  font-size: var(--fs-xxl);
  letter-spacing: -3px;
  vertical-align: middle;
}

@media (max-width: 500px) {
  .title {
    font-size: var(--fs-l);
  }
  .span {
    font-size: var(--fs-xl);
  }
}
